<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OfficeSearch</servlet-name>
        <servlet-class>Servlet.Office.OfficeSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>Servlet.Office.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Services</servlet-name>
        <servlet-class>Model.Services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Servlet.Office.Account</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfficeSearch</servlet-name>
        <url-pattern>/OfficeSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/Office/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Services</servlet-name>
        <url-pattern>/Services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Office/Account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
