body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}


/* LOGIN AND REGISTER BUTTON STYLES */

/* SCREENS SIZE BELOW 767px */
@media only screen and (max-width: 767px) {
  #loginButton{
      left: 60%;
      top: 10px;
  }
  #registerButton{
      left: 77%;
      top: 10px;
  }
}

/* SCREENS SIZE BETWEEN 767px and 922px */
@media only screen and (min-width: 767px) and (max-width: 992px) {
  #loginButton{
      left: 73.5%;
      top: -48px;
  }
  #registerButton{
      left: 87%;
      top: -48px;
  }
}

/* SCREENS SIZE ABOVE 992px */
@media only screen and (min-width: 992px) {
  #loginButton{
      left: 78.5%;
      top: -48px;
  }
  #registerButton{
      left: 87%;
      top: -48px;
  }
}

#loginButton{
  color: rgb(14, 96, 134);
  width: 80px;
  height: 35px;
  position: absolute;
}

#loginButton:hover{
  color: rgb(12, 67, 92);
}

#loginButtonText{
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  margin-top: -4px;
  margin-left: -5px;
}

#registerButton{
  border-color: rgb(18, 121, 168);
  background-color: rgb(18, 121, 168);
  color: #ffffff;
  width: 110px;
  height: 35px;
  position: absolute;
}

#registerButton:hover{
  background-color: #ffffff;
  color: rgb(18, 121, 168);
}

#registerButtonText{
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: -3px;
}
